$btn-size: 50px;
$btn-border: 2px;

/* Extra small devices (phones, less than 768px) */

body {
  width: 100%;
  height: 100%;
  display: block;
}

h1 {
  // margin-top: 20px;
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
  height: 50%;
}

a {
  margin: 0px auto;
  display: block;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footerA {
  width: 20%;
  margin: auto;
}

input {
  position: absolute;
  opacity: 0;
}

input[type=checkbox],
label {
  width: $btn-size;
  height: $btn-size;
  background-color: white;
  border: 1px solid black;
  display: block;
  margin-top: 2px;
  margin-left: 2px;
}

input:checked~ label {
  width: $btn-size;
  height: $btn-size;
  background-color: black;
}

#c1:focus~ #l1 {
  width: $btn-size - 2px;
  height: $btn-size - 2px;
  border: $btn-border blue solid;
  box-shadow: 0px 0px 0px 2px white inset;
}

.box {
  width: ($btn-size+ 4px) * 5;
  height: ($btn-size+ 4px) * 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mobile-m,
.mobile-t,
.desktop-ds,
.desktop-dl {
  display: none;
}

@media (min-width: 375px) {
  .box {
    width: ($btn-size+ 4px) * 6;
    height: ($btn-size+ 4px) * 6;
  }
  .mobile-m {
    display: block;
  }
}

// /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .box {
    width: ($btn-size+ 4px) * 7;
    height: ($btn-size+ 4px) * 7;
  }
  .mobile-t {
    display: block;
  }
}


/* Medium devices (desktops, 1024px and up) */

@media (min-width: 1024px) {
  .box {
    width: ($btn-size+ 4px) * 8;
    height: ($btn-size+ 4px) * 8;
  }
  .desktop-ds {
    display: block;
  }
}

@media (min-width: 1440px) {
  .box {
    width: ($btn-size+ 4px) * 9;
    height: ($btn-size+ 4px) * 9;
  }
  .desktop-dl {
    display: block;
  }
}
