/* Small smartphones, 375px and less */

h1 {
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  margin-top: 40px;
}

form {
  margin-bottom: 40px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

button {
  width: 130px;
  height: 40px;
  color: white;
  background-color: black;
  font-family: sans-serif;
  font-size: 1.3em;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: auto;
  display: block;
}

input {
  position: absolute;
  opacity: 0;
}

input[type=checkbox],
label {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  display: block;
  margin-top: 2px;
  margin-left: 2px;
}

input:checked~ label {
  width: 50px;
  height: 50px;
  background-color: black;
}

.box {
  width: 54px * 5;
  height: 54px * 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mobile-m,
.mobile-l,
.desktop-s,
.desktop-l {
  display: none;
}


/* Medium smartphone, 375px and up */

@media (min-width: 375px) {
  .box {
    width: 54px * 6;
    height: 54px * 6;
  }
  .mobile-m {
    display: block;
  }
}


/* Large smartphones, 768px and up */

@media (min-width: 768px) {
  .box {
    width: 54px * 7;
    height: 54px * 7;
  }
  .mobile-l {
    display: block;
  }
}


/* Small desktops, 1024px and up) */

@media (min-width: 1024px) {
  .box {
    width: 54px * 8;
    height: 54px * 8;
  }
  .desktop-s {
    display: block;
  }
  input:hover {
    cursor: pointer;
  }
  button:hover,
  button:focus {
    cursor: pointer;
    color: black;
    background-color: white;
  }
  button:hover {
    border: 1px solid black;
  }
  button:focus {
    outline: none;
    border: 3px blue solid;
  }
  #c1:focus~ #l1,
  #c2:focus~ #l2,
  #c3:focus~ #l3,
  #c4:focus~ #l4,
  #c5:focus~ #l5,
  #c6:focus~ #l6,
  #c7:focus~ #l7,
  #c8:focus~ #l8,
  #c9:focus~ #l9,
  #c10:focus~ #l10,
  #c11:focus~ #l11,
  #c12:focus~ #l12,
  #c13:focus~ #l13,
  #c14:focus~ #l14,
  #c15:focus~ #l15,
  #c16:focus~ #l16,
  #c17:focus~ #l17,
  #c18:focus~ #l18,
  #c19:focus~ #l19,
  #c20:focus~ #l20,
  #c21:focus~ #l21,
  #c22:focus~ #l22,
  #c23:focus~ #l23,
  #c24:focus~ #l24,
  #c25:focus~ #l25,
  #c26:focus~ #l26,
  #c27:focus~ #l27,
  #c28:focus~ #l28,
  #c29:focus~ #l29,
  #c30:focus~ #l30,
  #c31:focus~ #l31,
  #c32:focus~ #l32,
  #c33:focus~ #l33,
  #c34:focus~ #l34,
  #c35:focus~ #l35,
  #c36:focus~ #l36,
  #c37:focus~ #l37,
  #c38:focus~ #l38,
  #c39:focus~ #l39,
  #c40:focus~ #l40,
  #c41:focus~ #l41,
  #c42:focus~ #l42,
  #c43:focus~ #l43,
  #c44:focus~ #l44,
  #c45:focus~ #l45,
  #c46:focus~ #l46,
  #c47:focus~ #l47,
  #c48:focus~ #l48,
  #c49:focus~ #l49,
  #c50:focus~ #l50,
  #c51:focus~ #l51,
  #c52:focus~ #l52,
  #c53:focus~ #l53,
  #c54:focus~ #l54,
  #c55:focus~ #l55,
  #c56:focus~ #l56,
  #c57:focus~ #l57,
  #c58:focus~ #l58,
  #c59:focus~ #l59,
  #c60:focus~ #l60,
  #c61:focus~ #l61,
  #c62:focus~ #l62,
  #c63:focus~ #l63,
  #c64:focus~ #l64 {
    width: 46px;
    height: 46px;
    border: 3px blue solid;
    box-shadow: 0px 0px 1px 2px white inset;
  }
}

